@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.hero__info {
  text-align: center;
  color: $primary-clr;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  padding: 5em 1em;

  .title {
    font-size: 3.2rem;
    font-weight: 700;
    font-family: 'DM Serif Display';
    line-height: 1;
    max-width: 15ch;
  }

  .description {
    max-width: 50ch;
    font-size: 1.125rem;
  }

  .bg-pattern {
    width: 100%;
    position: absolute;
    z-index: -10;
    inset: 0;
    max-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: $accent-clr;

    overflow: hidden;
  }

  .hero__bg--bottom,
  .hero__bg--top {
    align-self: start;
    max-width: 9em;
    width: 9em;
    position: relative;
  }

  .hero__bg--top {
    top: -2rem;
    left: -1rem;
  }

  .hero__bg--bottom {
    align-self: end;
    top: 10rem;
    right: -2.5rem;
    img {
      max-height: 400px;
    }
  }
}

.hero {
  position: relative;
  .bg-desktop {
    display: none;
  }

  @include tablet-up {
    display: grid;
    grid-template-columns: 3rem repeat(2, 1fr) 3rem;

    background-color: $accent-clr;

    .bg-pattern {
      display: none;
    }

    .hero__info {
      grid-column: 2 / 3;
      grid-row: 1 / 2;

      // make readable on large screen
      text-align: left;

      align-items: flex-start;
      justify-self: end;
    }

    .hero__image {
      grid-column: 3 / 4;

      display: flex;
      justify-content: center;

      // deck image
      position: relative;
      bottom: -5rem;

      img {
        max-height: 35rem;
        width: 30rem;
        margin: 0;
      }
    }

    .bg-desktop {
      position: absolute;
      inset: 0;
      overflow: hidden;

      display: flex;
      flex-direction: column;

      img:first-child {
        align-self: end;
        max-height: 23rem;
        max-width: min(30vw, 30rem);
        position: relative;
        top: -2rem;
      }

      img:last-child {
        max-height: 20rem;
        max-width: 10rem;
        position: relative;
        top: 5rem;
      }
    }
  }
}

// help section

.help {
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  padding: 2em 0;
  max-width: clamp(20rem, 20rem + 5vw, 30rem + 5vw);
  margin: auto;

  .divider + h2 {
    margin-top: 0;
    font-family: 'DM Serif Display';
    font-weight: 600;
  }

  h3 {
    font-family: 'DM Serif Display';
  }

  .icon {
    width: 4em;
    aspect-ratio: 1;
  }

  .divider {
    width: 10rem;
    height: 2px;
    background-color: $secondary-clr;

    @include tablet-up {
      margin-top: 5em;
    }
  }

  .imageContainer {
    display: flex;
    place-content: center;

    @include tablet-up {
      place-content: start;
    }
  }

  @include tablet-up {
    margin: unset;
    max-width: unset;
    align-items: flex-start;
    margin-inline: 3em;

    .help__items {
      display: flex;
      gap: 1rem;
      margin-inline: auto;
    }

    .help__item .help--description {
      text-align: left;
      font-size: 1.2rem;
      font-weight: 500;
      max-width: 30ch;
    }

    .imageContainer + .help--name {
      text-align: left;
    }
  }
}

.more-info {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  color: $primary-clr;
  font-size: 1.4rem;

  position: relative;

  margin-inline: 1em;
  max-width: clamp(55rem, 65rem + 5vw, 70rem + 5vw);
  height: max-content;

  h1 {
    max-width: 17ch;
    line-height: 1;
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    padding: 0.25em;
    text-align: center;
  }

  .btn--how-we-work {
    color: $primary-clr;
    border-width: 2px;
    margin-bottom: 2em;
    align-self: center;
  }

  @include tablet-up {
    padding-top: 2em;

    .btn--how-we-work {
      margin-bottom: 1em;
    }
  }

  @include desktop {
    flex-direction: row;
    margin: 0 2em 3em;

    h1 {
      text-align: left;
      max-width: 16ch;
    }

    .btn--how-we-work {
      margin-bottom: 0;
    }
  }

  // background image
  .more-info-bg {
    position: absolute;
    background-color: $accent-clr;
    height: 100%;
    padding-inline: 2em;
    display: flex;
    justify-content: end;
    z-index: -2;
    overflow: hidden;

    img {
      max-height: 100%;
      width: 40%;
      position: relative;
      right: -3rem;

      @include tablet-up {
        right: -5rem;
      }
    }
  }
}
